html, body {
    height: 100%;
    width: 100%;
    color: lightblue;
}
body {
    background: #28fcfc; /* Old browsers */
    background: -moz-linear-gradient(top, #28fcfc -1%, #1e5799 0%, #28fcfc 0%, #28fcfc 49%, #9fff89 99%) fixed; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #28fcfc -1%,#1e5799 0%,#28fcfc 0%,#28fcfc 49%,#9fff89 99%) fixed; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #28fcfc -1%,#1e5799 0%,#28fcfc 0%,#28fcfc 49%,#9fff89 99%) fixed; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28fcfc', endColorstr='#9fff89',GradientType=0 ); /* IE6-9 */
}
button { 
    color:#050; 
    font: old 84% 'trebuchet ms',helvetica,sans-serif; 
    background-color:#fed; 
    border:1px solid; 
    border-color: #696 #363 #363 #696; 
}
/* Menu */
.navbar {
    padding: .8rem;
    background-color: blue;
}
.navbar-nav li {
    padding-right: 20px;
}
.nav-link{
    font-size: 1.75em !important;
}
.wallet_icon {
    height: 96px;
    width: 96px;
}
.wallet_icon_small {
    height: 64px;
    width: 64px;
}
.category_icon {
    height: 32px;
    width: 32px;
}

.categoryFill {
    cursor: pointer;
    position: relative;
}

/* Drag and drop categories */
#mainSection {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row-reverse;
}
#mainTable {
    flex-grow: 2;
    color: darkblue;
}
#mainTable th {
    background-color: rgb(255, 0, 0);
}
#mainTable tr:nth-child(n){
    background-color: rgb(148, 255, 168);
}
#mainTable tr:nth-child(2n) {
    background-color: rgb(255, 148, 148);
}
.table-responsive {
    border-collapse: separate;
    border-spacing: 15px 2px;
}
input[type="text"] {
    text-align: right;
}
.categories {
    flex-grow: 1;
    flex-direction: column;
}
.categories h2 {
    margin-left: 6px;
}
.category {
    height: 50px;
    width: 180px;
    border: 3px salmon solid;
    background-color: yellow;
    margin: 0.5rem;
    font-size: 20px;
}
.category :hover {
    transition: all .5s ease;
    transform: scale(1.2) rotate(360deg);
    background: greenyellow;
}
.hold {
    border: 4px black solid;
}
.hovered {
    background: cornflowerblue;
    border-style: dashed;
}
.invisible {
    display: none;
}
.recordIdCol {
    display: none;
}
#controlArea {
    display: flex;
    float: right;
    margin-right: 42%;
    margin-top: 1rem;

}
#confirmButton {
    margin-left: 5px;
}
#myChart {
    margin-top: 2rem;
    width: 500px;
}

#status {
    width: 100%;
    font: bold 1em sans-serif;
    padding: 0.5em;
  }
  
.online {
background: green;
}

.offline {
background: red;
}